* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body { 
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color:#000008;
    color: #f5f5f7;
    font-family: 'Raleway', sans-serif
}

.all-container {
    max-width: 100%;
    margin: 0 auto;
  }
  #logo {
    width: 50px;
    margin: 15px auto;
    display: block; 
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    overflow: auto;
    align-items: center;
}
  
  .navbar a {
    float: left;
    padding: 12px;
    color: #f5f5f7;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: #ea3e35;
  }
  
  .active {
    background-color: 	#282828;
  }

  .copy-container {
      display: flex;
      justify-content: center;
      position: relative;
      text-align: center;
  }

  .imgContainer{
     content: url(/images/pexels-mark-mccammon-2724749.jpg);
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;

  }
  
  #main-kitchen {
      margin: 10px auto;
      display: flex;
      opacity: .4;
  }

  

  
  /* @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } */
