* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body { 
    background-image: url(https://mcdn.wallpapersafari.com/medium/46/8/ncKYSs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100vh;
    margin: 0;
    background-color:#000008;
    color: #f5f5f7;
    font-family: 'Raleway', sans-serif
}

h1 {
    font-size: 72px;
}


  

.all-container {
    max-width: 100%;
    margin: 0 auto;
  }
  #logo {
    width: 50px;
    margin: 15px auto;
    display: block; 
  }

  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #000000;
    overflow: auto;
    align-items: center;
}
  
  nav a {
    float: left;
    padding: 12px;
    color: #f5f5f7;
    text-decoration: none;
    font-size: 17px; 
  } 
  
  nav a:hover {
    background-color: #ea3e35;
    transition: 0.3s;
    cursor: pointer;
  
    
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    display: none;
    color: #f5f5f7;
    cursor: pointer;
    font-size: 20px;
  }

  .hamburger:focus {
    outline: none;
  }
  
  .active {
    background-color: 	#282828;

  }

  .copy-container {
      display: flex;
      justify-content: center;
      position: relative;
      text-align: center;
  }



  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-size: 30px;
    /* text-shadow: 2px 2px #000008; */
    color: #f5f5f7;
    text-shadow: #000008 1px 0 10px;
    max-width: 450px;
  }
  
  #main-kitchen {
      margin: 40px;
      display: flex;
      border-radius: 10px;
      border-width: 10px;
      border-color: #ea3e35;
      border-style: groove;
  }


  div.gallery {
    border-radius: 10px;
    border-width: 10px;
    border-color: #ea3e35;
    border-style: groove;
  }
  
  div.gallery:hover {
    border: 1px solid #ea3e35;;
  }
  
  div.gallery img {
    width: 100%;
    height: 25%;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
  
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 50px;
    border: 1px solid #ea3e35;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

button {
    background-color: #ea3e35;
    color: #f5f5f7;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #name, #email {
    width: 25%;
    padding: 12px;
  }
  
  /* input[type=submit]:hover {
    background-color: #45a049;
  } */
  
  .contact-container {
    border-radius: 10px;
    border-width: 10px;
    border-color: #ea3e35;
    border-style: groove;
    margin: 50px;
    padding: 50px;
  }


  .footer-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content:center;
    background-color: #000000;
    color: #f5f5f7;
    overflow: auto;
}

.footer-container a {
  color: #f5f5f7;
  margin: 5px;
  text-decoration:none;
}

  

  
  /* @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  } */


  @media only screen and (max-width: 767px) {
    .navbar-ul {
      display: none;
      flex-direction: column;
      width: 100%;
    }

    .navbar-ul.show {
      display: flex;
    }

    .hamburger {
      display: block;
    }

    .footer-container {
      flex-direction: column;
      align-items: center;
    }

    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }

    div.gallery img {
      height: auto;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 

    .responsive {
      display: none;
    }
}